* {
    font-family: 'Lora', serif;
    margin: auto;
    height: 0;
    text-align: left;
    color: white;
}

h4 {
    font-size: 200%;
}

body {
    background-color:red;
}

.container {
    width: 50%;
    padding-top: 150px;
}