@import url(http://fonts.googleapis.com/css?family=Oswald);

#picOne,#picTwo, #picThree, #picFour, #picFive, #picSix{
    display: none;
    position: absolute;
    margin-bottom: 10px;
    color: white;
    font-family: Oswald;
    font-size: 30px;
    text-align: left;
}
