* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  background-color: lightblue;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.animated-wrap {

  background-color: lightblue;
  font-family: 'Arial', serif;
  color: darkblue;
  overflow:auto;
  height:100vh;
}

@keyframes show {
  0% {
    opacity: 0;
    position:absolute;
    bottom:-100%;
    left:-100%;
  }

  50% {
    opacity:1;
  }

  65% {
    color:darkblue;
  }
  100% {
    opacity:1;
    color:#73abbd;
  }
}

.wordbyword {
  margin:0;
  display: block;
  position: relative;
  font-family: 'Arial', serif;
  color: darkblue;
  z-index:99;
  font-size: 55px;
  font-weight: 900;
  float:left;
  padding-right:10px;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-name: show;
  &:last-child { padding-right: 0 ;}
  &:first-child { animation-delay: 0.6s ;}
  &:nth-child(2) { animation-delay: 0.9s;}
  &:nth-child(3) { animation-delay: 1.2s;}
  &:nth-child(4) { animation-delay: 1.5s;}
  &:nth-child(5) { animation-delay: 1.8s;}
  &:nth-child(6) { animation-delay: 2.1s;}
  &:nth-child(7) { animation-delay: 2.4s;}
  &:nth-child(8) { animation-delay: 2.7s;}
  &:nth-child(9) { animation-delay: 3.0s;}
  &:nth-child(10) { animation-delay: 3.3s;}
  &:nth-child(11) { animation-delay: 3.6s;}
  &:nth-child(12) { animation-delay: 3.9s;}
  &:nth-child(13) { animation-delay: 4.2s;}
  &:nth-child(14) { animation-delay: 4.5s;}
  &:nth-child(15) { animation-delay: 4.8s;}
  &:nth-child(16) { animation-delay: 5.1s;}
  &:nth-child(17) { animation-delay: 5.4s;}
  &:nth-child(18) { animation-delay: 5.7s;}
  &:nth-child(19) { animation-delay: 6.0s;}
  &:nth-child(20) { animation-delay: 6.3s;}
  &:nth-child(21) { animation-delay: 6.6s;}
  &:nth-child(22) { animation-delay: 6.9s;}
  &:nth-child(23) { animation-delay: 7.2s;}
  &:nth-child(24) { animation-delay: 7.5s;}
  &:nth-child(25) { animation-delay: 7.8s;}
  &:nth-child(26) { animation-delay: 8.1s;}
  &:nth-child(27) { animation-delay: 8.4s;}
  &:nth-child(28) { animation-delay: 8.7s;}
  &:nth-child(29) { animation-delay: 9.0s;}
  &:nth-child(30) { animation-delay: 9.3s;}
  &:nth-child(31) { animation-delay: 9.6s;}
  &:nth-child(32) { animation-delay: 9.9s;}
  &:nth-child(33) { animation-delay: 10.2s;}
  &:nth-child(34) { animation-delay: 10.5s;}
  &:nth-child(35) { animation-delay: 10.8s;}
  &:nth-child(36) { animation-delay: 11.1s;}
  &:nth-child(37) { animation-delay: 11.4s;}
  &:nth-child(38) { animation-delay: 11.7s;}
  &:nth-child(39) { animation-delay: 12.0s;}
  &:nth-child(40) { animation-delay: 12.3s;}
  &:nth-child(41) { animation-delay: 12.6s;}
  &:nth-child(42) { animation-delay: 12.9s;}
  &:nth-child(43) { animation-delay: 13.2s;}
  &:nth-child(44) { animation-delay: 13.5s;}
  &:nth-child(45) { animation-delay: 13.8s;}
  &:nth-child(46) { animation-delay: 14.1s;}
  &:nth-child(47) { animation-delay: 14.4s;}
  &:nth-child(48) { animation-delay: 14.7s;}
  &:nth-child(49) { animation-delay: 15.0s;}
  &:nth-child(50) { animation-delay: 15.3s;}
  &:nth-child(51) { animation-delay: 15.6s;}
  &:nth-child(52) { animation-delay: 15.9s;}
  &:nth-child(53) { animation-delay: 16.2s;}
  &:nth-child(54) { animation-delay: 16.5s;}
  &:nth-child(55) { animation-delay: 16.8s;}
  &:nth-child(56) { animation-delay: 17.1s;}
  &:nth-child(57) { animation-delay: 17.4s;}
  &:nth-child(58) { animation-delay: 17.7s;}
  &:nth-child(59) { animation-delay: 18.0s;}
  &:nth-child(60) { animation-delay: 18.3s;}
  &:nth-child(61) { animation-delay: 18.6s;}
  &:nth-child(62) { animation-delay: 18.9s;}
  &:nth-child(63) { animation-delay: 19.2s;}
  &:nth-child(64) { animation-delay: 19.5s;}
  &:nth-child(65) { animation-delay: 19.8s;}
  &:nth-child(66) { animation-delay: 20.1s;}
  &:nth-child(67) { animation-delay: 20.4s;}
  &:nth-child(68) { animation-delay: 20.7s;}
  &:nth-child(69) { animation-delay: 21.0s;}
  &:nth-child(70) { animation-delay: 21.3s;}
  &:nth-child(71) { animation-delay: 21.6s;}
  &:nth-child(72) { animation-delay: 21.9s;}
  &:nth-child(73) { animation-delay: 22.2s;}
  &:nth-child(74) { animation-delay: 22.5s;}
  &:nth-child(75) { animation-delay: 22.8s;}
  &:nth-child(76) { animation-delay: 23.1s;}
  &:nth-child(77) { animation-delay: 23.4s;}
  &:nth-child(78) { animation-delay: 23.7s;}
  &:nth-child(79) { animation-delay: 24.0s;}
  &:nth-child(80) { animation-delay: 24.3s;}
  &:nth-child(81) { animation-delay: 24.6s;}
  &:nth-child(82) { animation-delay: 24.9s;}
  &:nth-child(83) { animation-delay: 25.2s;}
  &:nth-child(84) { animation-delay: 25.5s;}
  &:nth-child(85) { animation-delay: 25.8s;}
  &:nth-child(86) { animation-delay: 26.1s;}
  &:nth-child(87) { animation-delay: 26.4s;}
  &:nth-child(88) { animation-delay: 26.7s;}
  &:nth-child(89) { animation-delay: 27.0s;}
  &:nth-child(90) { animation-delay: 27.3s;}
  &:nth-child(91) { animation-delay: 27.6s;}
  &:nth-child(92) { animation-delay: 27.9s;}
  &:nth-child(93) { animation-delay: 28.2s;}
  &:nth-child(94) { animation-delay: 28.5s;}
  &:nth-child(95) { animation-delay: 28.8s;}
  &:nth-child(96) { animation-delay: 29.1s;}
  &:nth-child(97) { animation-delay: 29.4s;}
  &:nth-child(98) { animation-delay: 29.7s;}
  &:nth-child(99) { animation-delay: 30.0s;}
  &:nth-child(100) { animation-delay: 30.3s;}
  &:nth-child(101) { animation-delay: 30.6s;}
  &:nth-child(102) { animation-delay: 30.9s;}
  &:nth-child(103) { animation-delay: 31.2s;}
  &:nth-child(104) { animation-delay: 31.5s;}
  &:nth-child(105) { animation-delay: 31.8s;}
  &:nth-child(106) { animation-delay: 32.1s;}
  &:nth-child(107) { animation-delay: 32.4s;}
  &:nth-child(108) { animation-delay: 32.7s;}
  &:nth-child(109) { animation-delay: 33.0s;}
  &:nth-child(110) { animation-delay: 33.3s;}
  &:nth-child(111) { animation-delay: 33.6s;}
  &:nth-child(112) { animation-delay: 33.9s;}
  &:nth-child(113) { animation-delay: 34.2s;}
  &:nth-child(114) { animation-delay: 34.5s;}
  &:nth-child(115) { animation-delay: 34.8s;}
  &:nth-child(116) { animation-delay: 35.1s;}
  &:nth-child(117) { animation-delay: 35.4s;}
  &:nth-child(118) { animation-delay: 35.7s;}
  &:nth-child(119) { animation-delay: 36.0s;}
  &:nth-child(120) { animation-delay: 36.3s;}
  &:nth-child(121) { animation-delay: 36.6s;}
  &:nth-child(122) { animation-delay: 36.9s;}
  &:nth-child(123) { animation-delay: 37.2s;}
  &:nth-child(124) { animation-delay: 37.5s;}
  &:nth-child(125) { animation-delay: 37.8s;}
  &:nth-child(126) { animation-delay: 38.1s;}
  &:nth-child(127) { animation-delay: 38.4s;}
  &:nth-child(128) { animation-delay: 38.7s;}
  &:nth-child(129) { animation-delay: 39.0s;}
  &:nth-child(130) { animation-delay: 39.3s;}
  &:nth-child(131) { animation-delay: 39.6s;}
  &:nth-child(132) { animation-delay: 39.9s;}
  &:nth-child(133) { animation-delay: 40.2s;}
  &:nth-child(134) { animation-delay: 40.5s;}
  &:nth-child(135) { animation-delay: 40.8s;}
  &:nth-child(136) { animation-delay: 41.1s;}
  &:nth-child(137) { animation-delay: 41.4s;}
  &:nth-child(138) { animation-delay: 41.7s;}
  &:nth-child(139) { animation-delay: 42.0s;}
  &:nth-child(140) { animation-delay: 42.3s;}
  &:nth-child(141) { animation-delay: 42.6s;}
  &:nth-child(142) { animation-delay: 42.9s;}
  &:nth-child(143) { animation-delay: 43.2s;}
  &:nth-child(144) { animation-delay: 43.5s;}
  &:nth-child(145) { animation-delay: 43.8s;}
  &:nth-child(146) { animation-delay: 44.1s;}
  &:nth-child(147) { animation-delay: 44.4s;}
  &:nth-child(148) { animation-delay: 44.7s;}
  &:nth-child(149) { animation-delay: 45.0s;}
  &:nth-child(150) { animation-delay: 45.3s;}
  &:nth-child(151) { animation-delay: 45.6s;}
  &:nth-child(152) { animation-delay: 45.9s;}
  &:nth-child(153) { animation-delay: 46.2s;}
  &:nth-child(154) { animation-delay: 46.5s;}
  &:nth-child(155) { animation-delay: 46.8s;}
  &:nth-child(156) { animation-delay: 47.1s;}
  &:nth-child(157) { animation-delay: 47.4s;}
  &:nth-child(158) { animation-delay: 47.7s;}
  &:nth-child(159) { animation-delay: 48.0s;}
  &:nth-child(160) { animation-delay: 48.3s;}
  &:nth-child(161) { animation-delay: 48.6s;}
  &:nth-child(162) { animation-delay: 48.9s;}
  &:nth-child(163) { animation-delay: 49.2s;}
  &:nth-child(164) { animation-delay: 49.5s;}
  &:nth-child(165) { animation-delay: 49.8s;}
  &:nth-child(166) { animation-delay: 50.1s;}
  &:nth-child(167) { animation-delay: 50.4s;}
  &:nth-child(168) { animation-delay: 50.7s;}
  &:nth-child(169) { animation-delay: 51.0s;}
  &:nth-child(170) { animation-delay: 51.3s;}
  &:nth-child(171) { animation-delay: 51.6s;}
  &:nth-child(172) { animation-delay: 51.9s;}
  &:nth-child(173) { animation-delay: 52.2s;}
  &:nth-child(174) { animation-delay: 52.5s;}
  &:nth-child(175) { animation-delay: 52.8s;}
  &:nth-child(176) { animation-delay: 53.1s;}
  &:nth-child(177) { animation-delay: 53.4s;}
  &:nth-child(178) { animation-delay: 53.7s;}
  &:nth-child(179) { animation-delay: 54.0s;}
  &:nth-child(180) { animation-delay: 54.3s;}
  &:nth-child(181) { animation-delay: 54.6s;}
  &:nth-child(182) { animation-delay: 54.9s;}
  &:nth-child(183) { animation-delay: 55.2s;}
  &:nth-child(184) { animation-delay: 55.5s;}
  &:nth-child(185) { animation-delay: 55.8s;}
  &:nth-child(186) { animation-delay: 56.1s;}
  &:nth-child(187) { animation-delay: 56.4s;}
  &:nth-child(188) { animation-delay: 56.7s;}
  &:nth-child(189) { animation-delay: 57.0s;}
  &:nth-child(190) { animation-delay: 57.3s;}
  &:nth-child(191) { animation-delay: 57.6s;}
  &:nth-child(192) { animation-delay: 57.9s;}
  &:nth-child(193) { animation-delay: 58.2s;}
  &:nth-child(194) { animation-delay: 58.5s;}
  &:nth-child(195) { animation-delay: 58.8s;}
  &:nth-child(196) { animation-delay: 59.1s;}
  &:nth-child(197) { animation-delay: 59.4s;}
  &:nth-child(198) { animation-delay: 59.7s;}
  &:nth-child(199) { animation-delay: 60.0s;}
  &:nth-child(200) { animation-delay: 60.3s;}
  &:nth-child(201) { animation-delay: 60.6s;}
  &:nth-child(202) { animation-delay: 60.9s;}
  &:nth-child(203) { animation-delay: 61.2s;}
  &:nth-child(204) { animation-delay: 61.5s;}
  &:nth-child(205) { animation-delay: 61.8s;}
  &:nth-child(206) { animation-delay: 62.1s;}
  &:nth-child(207) { animation-delay: 62.4s;}
  &:nth-child(208) { animation-delay: 62.7s;}
  &:nth-child(209) { animation-delay: 63.0s;}
  &:nth-child(210) { animation-delay: 63.3s;}
  &:nth-child(211) { animation-delay: 63.6s;}
  &:nth-child(212) { animation-delay: 63.9s;}
  &:nth-child(213) { animation-delay: 64.2s;}
  &:nth-child(214) { animation-delay: 64.5s;}
  &:nth-child(215) { animation-delay: 64.8s;}
  &:nth-child(216) { animation-delay: 65.1s;}
  &:nth-child(217) { animation-delay: 65.4s;}
  &:nth-child(218) { animation-delay: 65.7s;}
  &:nth-child(219) { animation-delay: 66.0s;}
  &:nth-child(220) { animation-delay: 66.3s;}
  &:nth-child(221) { animation-delay: 66.6s;}
  &:nth-child(222) { animation-delay: 66.9s;}
  &:nth-child(223) { animation-delay: 67.2s;}
  &:nth-child(224) { animation-delay: 67.5s;}
  &:nth-child(225) { animation-delay: 67.8s;}
  &:nth-child(226) { animation-delay: 68.1s;}
  &:nth-child(227) { animation-delay: 68.4s;}
  &:nth-child(228) { animation-delay: 68.7s;}
  &:nth-child(229) { animation-delay: 69.0s;}
  &:nth-child(230) { animation-delay: 69.3s;}
  &:nth-child(231) { animation-delay: 69.6s;}
  &:nth-child(232) { animation-delay: 69.9s;}
  &:nth-child(233) { animation-delay: 70.2s;}
  &:nth-child(234) { animation-delay: 70.5s;}
  &:nth-child(235) { animation-delay: 70.8s;}
  &:nth-child(236) { animation-delay: 71.1s;}
  &:nth-child(237) { animation-delay: 71.4s;}
  &:nth-child(238) { animation-delay: 71.7s;}
  &:nth-child(239) { animation-delay: 72.0s;}
  &:nth-child(240) { animation-delay: 72.3s;}
  &:nth-child(241) { animation-delay: 72.6s;}
  &:nth-child(242) { animation-delay: 72.9s;}
  &:nth-child(243) { animation-delay: 73.2s;}
  &:nth-child(244) { animation-delay: 73.5s;}
  &:nth-child(245) { animation-delay: 73.8s;}
  &:nth-child(246) { animation-delay: 74.1s;}
  &:nth-child(247) { animation-delay: 74.4s;}
  &:nth-child(248) { animation-delay: 74.7s;}
  &:nth-child(249) { animation-delay: 75.0s;}
  &:nth-child(250) { animation-delay: 75.3s;}
  &:nth-child(251) { animation-delay: 75.6s;}
  &:nth-child(252) { animation-delay: 75.9s;}
  &:nth-child(253) { animation-delay: 76.2s;}
  &:nth-child(254) { animation-delay: 76.5s;}
  &:nth-child(255) { animation-delay: 76.8s;}
  &:nth-child(256) { animation-delay: 77.1s;}
  &:nth-child(257) { animation-delay: 77.4s;}
  &:nth-child(258) { animation-delay: 77.7s;}
  &:nth-child(259) { animation-delay: 78.0s;}
  &:nth-child(260) { animation-delay: 78.3s;}
  &:nth-child(261) { animation-delay: 78.6s;}
  &:nth-child(262) { animation-delay: 78.9s;}
  &:nth-child(263) { animation-delay: 79.2s;}
  &:nth-child(264) { animation-delay: 79.5s;}
  &:nth-child(265) { animation-delay: 79.8s;}
  &:nth-child(266) { animation-delay: 80.1s;}
  &:nth-child(267) { animation-delay: 80.4s;}
  &:nth-child(268) { animation-delay: 80.7s;}
  &:nth-child(269) { animation-delay: 81.0s;}
  &:nth-child(270) { animation-delay: 81.3s;}
  &:nth-child(271) { animation-delay: 81.6s;}
  &:nth-child(272) { animation-delay: 81.9s;}
  &:nth-child(273) { animation-delay: 82.2s;}
  &:nth-child(274) { animation-delay: 82.5s;}
  &:nth-child(275) { animation-delay: 82.8s;}
  &:nth-child(276) { animation-delay: 83.1s;}
  &:nth-child(277) { animation-delay: 83.4s;}
  &:nth-child(278) { animation-delay: 83.7s;}
  &:nth-child(279) { animation-delay: 84.0s;}
  &:nth-child(280) { animation-delay: 84.3s;}
  &:nth-child(281) { animation-delay: 84.6s;}
  &:nth-child(282) { animation-delay: 84.9s;}
  &:nth-child(283) { animation-delay: 85.2s;}
  &:nth-child(284) { animation-delay: 85.5s;}
  &:nth-child(285) { animation-delay: 85.8s;}
  &:nth-child(286) { animation-delay: 86.1s;}
  &:nth-child(287) { animation-delay: 86.4s;}
  &:nth-child(288) { animation-delay: 86.7s;}
  &:nth-child(289) { animation-delay: 87.0s;}
  &:nth-child(290) { animation-delay: 87.3s;}
  &:nth-child(291) { animation-delay: 87.6s;}
  &:nth-child(292) { animation-delay: 87.9s;}
  &:nth-child(293) { animation-delay: 88.2s;}
  &:nth-child(294) { animation-delay: 88.5s;}
  &:nth-child(295) { animation-delay: 88.8s;}
  &:nth-child(296) { animation-delay: 89.1s;}
  &:nth-child(297) { animation-delay: 89.4s;}
  &:nth-child(298) { animation-delay: 89.7s;}
  &:nth-child(299) { animation-delay: 90.0s;}
  &:nth-child(300) { animation-delay: 90.3s;}
  &:nth-child(301) { animation-delay: 90.6s;}
  &:nth-child(302) { animation-delay: 90.9s;}
  &:nth-child(303) { animation-delay: 91.2s;}
  &:nth-child(304) { animation-delay: 91.5s;}
  &:nth-child(305) { animation-delay: 91.8s;}
  &:nth-child(306) { animation-delay: 92.1s;}
  &:nth-child(307) { animation-delay: 92.4s;}
  &:nth-child(308) { animation-delay: 92.7s;}
  &:nth-child(309) { animation-delay: 93.0s;}
  &:nth-child(310) { animation-delay: 93.3s;}
  &:nth-child(311) { animation-delay: 93.6s;}
  &:nth-child(312) { animation-delay: 93.9s;}
  &:nth-child(313) { animation-delay: 94.2s;}
  &:nth-child(314) { animation-delay: 94.5s;}
  &:nth-child(315) { animation-delay: 94.8s;}
  &:nth-child(316) { animation-delay: 95.1s;}
  &:nth-child(317) { animation-delay: 95.4s;}
  &:nth-child(318) { animation-delay: 95.7s;}
  &:nth-child(319) { animation-delay: 96.0s;}
  &:nth-child(320) { animation-delay: 96.3s;}
  &:nth-child(321) { animation-delay: 96.6s;}
  &:nth-child(322) { animation-delay: 96.9s;}
  &:nth-child(323) { animation-delay: 97.2s;}
  &:nth-child(324) { animation-delay: 97.5s;}
  &:nth-child(325) { animation-delay: 97.8s;}
  &:nth-child(326) { animation-delay: 98.1s;}
  &:nth-child(327) { animation-delay: 98.4s;}
  &:nth-child(328) { animation-delay: 98.7s;}
  &:nth-child(329) { animation-delay: 99.0s;}
  &:nth-child(330) { animation-delay: 99.3s;}
  &:nth-child(331) { animation-delay: 99.6s;}
  &:nth-child(332) { animation-delay: 99.9s;}
  &:nth-child(333) { animation-delay: 100.2s;}
  &:nth-child(334) { animation-delay: 100.5s;}
  &:nth-child(335) { animation-delay: 100.8s;}
  &:nth-child(336) { animation-delay: 101.1s;}
  &:nth-child(337) { animation-delay: 101.4s;}
  &:nth-child(338) { animation-delay: 101.7s;}
  &:nth-child(339) { animation-delay: 102.0s;}
  &:nth-child(340) { animation-delay: 102.3s;}
  &:nth-child(341) { animation-delay: 102.6s;}
  &:nth-child(342) { animation-delay: 102.9s;}
  &:nth-child(343) { animation-delay: 103.2s;}
  &:nth-child(344) { animation-delay: 103.5s;}
  &:nth-child(345) { animation-delay: 103.8s;}
  &:nth-child(346) { animation-delay: 104.1s;}
  &:nth-child(347) { animation-delay: 104.4s;}
  &:nth-child(348) { animation-delay: 104.7s;}
  &:nth-child(349) { animation-delay: 105.0s;}
  &:nth-child(350) { animation-delay: 105.3s;}
  &:nth-child(351) { animation-delay: 105.6s;}
  &:nth-child(352) { animation-delay: 105.9s;}
  &:nth-child(353) { animation-delay: 106.2s;}
  &:nth-child(354) { animation-delay: 106.5s;}
  &:nth-child(355) { animation-delay: 106.8s;}
  &:nth-child(356) { animation-delay: 107.1s;}
  &:nth-child(357) { animation-delay: 107.4s;}
  &:nth-child(358) { animation-delay: 107.7s;}
  &:nth-child(359) { animation-delay: 108.0s;}
  &:nth-child(360) { animation-delay: 108.3s;}
  &:nth-child(361) { animation-delay: 108.6s;}
  &:nth-child(362) { animation-delay: 108.9s;}
  &:nth-child(363) { animation-delay: 109.2s;}
  &:nth-child(364) { animation-delay: 109.5s;}
  &:nth-child(365) { animation-delay: 109.8s;}
  &:nth-child(366) { animation-delay: 110.1s;}
  &:nth-child(367) { animation-delay: 110.4s;}
  &:nth-child(368) { animation-delay: 110.7s;}
  &:nth-child(369) { animation-delay: 111.0s;}
  &:nth-child(370) { animation-delay: 111.3s;}
  &:nth-child(371) { animation-delay: 111.6s;}
  &:nth-child(372) { animation-delay: 111.9s;}
  &:nth-child(373) { animation-delay: 112.2s;}
  &:nth-child(374) { animation-delay: 112.5s;}
  &:nth-child(375) { animation-delay: 112.8s;}
  &:nth-child(376) { animation-delay: 113.1s;}
  &:nth-child(377) { animation-delay: 113.4s;}
  &:nth-child(378) { animation-delay: 113.7s;}
  &:nth-child(379) { animation-delay: 114.0s;}
  &:nth-child(380) { animation-delay: 114.3s;}
  &:nth-child(381) { animation-delay: 114.6s;}
  &:nth-child(382) { animation-delay: 114.9s;}
  &:nth-child(383) { animation-delay: 115.2s;}
  &:nth-child(384) { animation-delay: 115.5s;}
  &:nth-child(385) { animation-delay: 115.8s;}
  &:nth-child(386) { animation-delay: 116.1s;}
  &:nth-child(387) { animation-delay: 116.4s;}
  &:nth-child(388) { animation-delay: 116.7s;}
  &:nth-child(389) { animation-delay: 117.0s;}
  &:nth-child(390) { animation-delay: 117.3s;}
  &:nth-child(391) { animation-delay: 117.6s;}
  &:nth-child(392) { animation-delay: 117.9s;}
  &:nth-child(393) { animation-delay: 118.2s;}
  &:nth-child(394) { animation-delay: 118.5s;}
  &:nth-child(395) { animation-delay: 118.8s;}
  &:nth-child(396) { animation-delay: 119.1s;}
  &:nth-child(397) { animation-delay: 119.4s;}
  &:nth-child(398) { animation-delay: 119.7s;}
  &:nth-child(399) { animation-delay: 120.0s;}
  &:nth-child(400) { animation-delay: 120.3s;}
  &:nth-child(401) { animation-delay: 120.6s;}
  &:nth-child(402) { animation-delay: 120.9s;}
  &:nth-child(403) { animation-delay: 121.2s;}
  &:nth-child(404) { animation-delay: 121.5s;}
  &:nth-child(405) { animation-delay: 121.8s;}
  &:nth-child(406) { animation-delay: 122.1s;}
  &:nth-child(407) { animation-delay: 122.4s;}
  &:nth-child(408) { animation-delay: 122.7s;}
  &:nth-child(409) { animation-delay: 123.0s;}
  &:nth-child(410) { animation-delay: 123.3s;}
  &:nth-child(411) { animation-delay: 123.6s;}
  &:nth-child(412) { animation-delay: 123.9s;}
  &:nth-child(413) { animation-delay: 124.2s;}
  &:nth-child(414) { animation-delay: 124.5s;}
  &:nth-child(415) { animation-delay: 124.8s;}
  &:nth-child(416) { animation-delay: 125.1s;}
  &:nth-child(417) { animation-delay: 125.4s;}
  &:nth-child(418) { animation-delay: 125.7s;}
  &:nth-child(419) { animation-delay: 126.0s;}
  &:nth-child(420) { animation-delay: 126.3s;}
  &:nth-child(421) { animation-delay: 126.6s;}
  &:nth-child(422) { animation-delay: 126.9s;}
  &:nth-child(423) { animation-delay: 127.2s;}
  &:nth-child(424) { animation-delay: 127.5s;}
  &:nth-child(425) { animation-delay: 127.8s;}
  &:nth-child(426) { animation-delay: 128.1s;}
  &:nth-child(427) { animation-delay: 128.4s;}
  &:nth-child(428) { animation-delay: 128.7s;}
  &:nth-child(429) { animation-delay: 129.0s;}
  &:nth-child(430) { animation-delay: 129.3s;}
  &:nth-child(431) { animation-delay: 129.6s;}
  &:nth-child(432) { animation-delay: 129.9s;}
  &:nth-child(433) { animation-delay: 130.2s;}
  &:nth-child(434) { animation-delay: 130.5s;}
  &:nth-child(435) { animation-delay: 130.8s;}
  &:nth-child(436) { animation-delay: 131.1s;}
  &:nth-child(437) { animation-delay: 131.4s;}
  &:nth-child(438) { animation-delay: 131.7s;}
  &:nth-child(439) { animation-delay: 132.0s;}
  &:nth-child(440) { animation-delay: 132.3s;}
  &:nth-child(441) { animation-delay: 132.6s;}
  &:nth-child(442) { animation-delay: 132.9s;}
  &:nth-child(443) { animation-delay: 133.2s;}
  &:nth-child(444) { animation-delay: 133.5s;}
  &:nth-child(445) { animation-delay: 133.8s;}
  &:nth-child(446) { animation-delay: 134.1s;}
  &:nth-child(447) { animation-delay: 134.4s;}
  &:nth-child(448) { animation-delay: 134.7s;}
  &:nth-child(449) { animation-delay: 135.0s;}
  &:nth-child(450) { animation-delay: 135.3s;}
  &:nth-child(451) { animation-delay: 135.6s;}
  &:nth-child(452) { animation-delay: 135.9s;}
  &:nth-child(453) { animation-delay: 136.2s;}
  &:nth-child(454) { animation-delay: 136.5s;}
  &:nth-child(455) { animation-delay: 136.8s;}
  &:nth-child(456) { animation-delay: 137.1s;}
  &:nth-child(457) { animation-delay: 137.4s;}
  &:nth-child(458) { animation-delay: 137.7s;}
  &:nth-child(459) { animation-delay: 138.0s;}
  &:nth-child(460) { animation-delay: 138.3s;}
  &:nth-child(461) { animation-delay: 138.6s;}
  &:nth-child(462) { animation-delay: 138.9s;}
  &:nth-child(463) { animation-delay: 139.2s;}
  &:nth-child(464) { animation-delay: 139.5s;}
  &:nth-child(465) { animation-delay: 139.8s;}
  &:nth-child(466) { animation-delay: 140.1s;}
  &:nth-child(467) { animation-delay: 140.4s;}
  &:nth-child(468) { animation-delay: 140.7s;}
  &:nth-child(469) { animation-delay: 141.0s;}
  &:nth-child(470) { animation-delay: 141.3s;}
  &:nth-child(471) { animation-delay: 141.6s;}
  &:nth-child(472) { animation-delay: 141.9s;}
  &:nth-child(473) { animation-delay: 142.2s;}
  &:nth-child(474) { animation-delay: 142.5s;}
  &:nth-child(475) { animation-delay: 142.8s;}
  &:nth-child(476) { animation-delay: 143.1s;}
  &:nth-child(477) { animation-delay: 143.4s;}
  &:nth-child(478) { animation-delay: 143.7s;}
  &:nth-child(479) { animation-delay: 144.0s;}
  &:nth-child(480) { animation-delay: 144.3s;}
  &:nth-child(481) { animation-delay: 144.6s;}
  &:nth-child(482) { animation-delay: 144.9s;}
  &:nth-child(483) { animation-delay: 145.2s;}
  &:nth-child(484) { animation-delay: 145.5s;}
  &:nth-child(485) { animation-delay: 145.8s;}
  &:nth-child(486) { animation-delay: 146.1s;}
  &:nth-child(487) { animation-delay: 146.4s;}
  &:nth-child(488) { animation-delay: 146.7s;}
  &:nth-child(489) { animation-delay: 147.0s;}
  &:nth-child(490) { animation-delay: 147.3s;}
  &:nth-child(491) { animation-delay: 147.6s;}
  &:nth-child(492) { animation-delay: 147.9s;}
  &:nth-child(493) { animation-delay: 148.2s;}
  &:nth-child(494) { animation-delay: 148.5s;}
  &:nth-child(495) { animation-delay: 148.8s;}
  &:nth-child(496) { animation-delay: 149.1s;}
  &:nth-child(497) { animation-delay: 149.4s;}
  &:nth-child(498) { animation-delay: 149.7s;}
  &:nth-child(499) { animation-delay: 150.0s;}
  &:nth-child(500) { animation-delay: 150.3s;}
  &:nth-child(501) { animation-delay: 150.6s;}
  &:nth-child(502) { animation-delay: 150.9s;}
  &:nth-child(503) { animation-delay: 151.2s;}
  &:nth-child(504) { animation-delay: 151.5s;}
  &:nth-child(505) { animation-delay: 151.8s;}
  &:nth-child(506) { animation-delay: 152.1s;}
  &:nth-child(507) { animation-delay: 152.4s;}
  &:nth-child(508) { animation-delay: 152.7s;}
  &:nth-child(509) { animation-delay: 153.0s;}
  &:nth-child(510) { animation-delay: 153.3s;}
  &:nth-child(511) { animation-delay: 153.6s;}
  &:nth-child(512) { animation-delay: 153.9s;}
  &:nth-child(513) { animation-delay: 154.2s;}
  &:nth-child(514) { animation-delay: 154.5s;}
  &:nth-child(515) { animation-delay: 154.8s;}
  &:nth-child(516) { animation-delay: 155.1s;}
  &:nth-child(517) { animation-delay: 155.4s;}
  &:nth-child(518) { animation-delay: 155.7s;}
  &:nth-child(519) { animation-delay: 156.0s;}
  &:nth-child(520) { animation-delay: 156.3s;}
  &:nth-child(521) { animation-delay: 156.6s;}
  &:nth-child(522) { animation-delay: 156.9s;}
  &:nth-child(523) { animation-delay: 157.2s;}
  &:nth-child(524) { animation-delay: 157.5s;}
  &:nth-child(525) { animation-delay: 157.8s;}
  &:nth-child(526) { animation-delay: 158.1s;}
  &:nth-child(527) { animation-delay: 158.4s;}
  &:nth-child(528) { animation-delay: 158.7s;}
  &:nth-child(529) { animation-delay: 159.0s;}
  &:nth-child(530) { animation-delay: 159.3s;}
  &:nth-child(531) { animation-delay: 159.6s;}
  &:nth-child(532) { animation-delay: 159.9s;}
  &:nth-child(533) { animation-delay: 160.2s;}
  &:nth-child(534) { animation-delay: 160.5s;}
  &:nth-child(535) { animation-delay: 160.8s;}
  &:nth-child(536) { animation-delay: 161.1s;}
  &:nth-child(537) { animation-delay: 161.4s;}
  &:nth-child(538) { animation-delay: 161.7s;}
  &:nth-child(539) { animation-delay: 162.0s;}
  &:nth-child(540) { animation-delay: 162.3s;}
  &:nth-child(541) { animation-delay: 162.6s;}
  &:nth-child(542) { animation-delay: 162.9s;}
  &:nth-child(543) { animation-delay: 163.2s;}
  &:nth-child(544) { animation-delay: 163.5s;}
  &:nth-child(545) { animation-delay: 163.8s;}
  &:nth-child(546) { animation-delay: 164.1s;}
  &:nth-child(547) { animation-delay: 164.4s;}
  &:nth-child(548) { animation-delay: 164.7s;}
  &:nth-child(549) { animation-delay: 165.0s;}
  &:nth-child(550) { animation-delay: 165.3s;}
  &:nth-child(551) { animation-delay: 165.6s;}
  &:nth-child(552) { animation-delay: 165.9s;}
  &:nth-child(553) { animation-delay: 166.2s;}
  &:nth-child(554) { animation-delay: 166.5s;}
  &:nth-child(555) { animation-delay: 166.8s;}
  &:nth-child(556) { animation-delay: 167.1s;}
  &:nth-child(557) { animation-delay: 167.4s;}
  &:nth-child(558) { animation-delay: 167.7s;}
  &:nth-child(559) { animation-delay: 168.0s;}
  &:nth-child(560) { animation-delay: 168.3s;}
  &:nth-child(561) { animation-delay: 168.6s;}
  &:nth-child(562) { animation-delay: 168.9s;}
  &:nth-child(563) { animation-delay: 169.2s;}
  &:nth-child(564) { animation-delay: 169.5s;}
  &:nth-child(565) { animation-delay: 169.8s;}
  &:nth-child(566) { animation-delay: 170.1s;}
  &:nth-child(567) { animation-delay: 170.4s;}
  &:nth-child(568) { animation-delay: 170.7s;}
  &:nth-child(569) { animation-delay: 171.0s;}
  &:nth-child(570) { animation-delay: 171.3s;}
  &:nth-child(571) { animation-delay: 171.6s;}
  &:nth-child(572) { animation-delay: 171.9s;}
  &:nth-child(573) { animation-delay: 172.2s;}
  &:nth-child(574) { animation-delay: 172.5s;}
  &:nth-child(575) { animation-delay: 172.8s;}
  &:nth-child(576) { animation-delay: 173.1s;}
  &:nth-child(577) { animation-delay: 173.4s;}
  &:nth-child(578) { animation-delay: 173.7s;}
  &:nth-child(579) { animation-delay: 174.0s;}
  &:nth-child(580) { animation-delay: 174.3s;}
  &:nth-child(581) { animation-delay: 174.6s;}
  &:nth-child(582) { animation-delay: 174.9s;}
  &:nth-child(583) { animation-delay: 175.2s;}
  &:nth-child(584) { animation-delay: 175.5s;}
  &:nth-child(585) { animation-delay: 175.8s;}
  &:nth-child(586) { animation-delay: 176.1s;}
  &:nth-child(587) { animation-delay: 176.4s;}
  &:nth-child(588) { animation-delay: 176.7s;}
  &:nth-child(589) { animation-delay: 177.0s;}
  &:nth-child(590) { animation-delay: 177.3s;}
  &:nth-child(591) { animation-delay: 177.6s;}
  &:nth-child(592) { animation-delay: 177.9s;}
  &:nth-child(593) { animation-delay: 178.2s;}
  &:nth-child(594) { animation-delay: 178.5s;}
  &:nth-child(595) { animation-delay: 178.8s;}
  &:nth-child(596) { animation-delay: 179.1s;}
  &:nth-child(597) { animation-delay: 179.4s;}
  &:nth-child(598) { animation-delay: 179.7s;}
  &:nth-child(599) { animation-delay: 180.0s;}
  &:nth-child(600) { animation-delay: 180.3s;}
  &:nth-child(601) { animation-delay: 180.6s;}
  &:nth-child(602) { animation-delay: 180.9s;}
  &:nth-child(603) { animation-delay: 181.2s;}
  &:nth-child(604) { animation-delay: 181.5s;}
  &:nth-child(605) { animation-delay: 181.8s;}
  &:nth-child(606) { animation-delay: 182.1s;}
  &:nth-child(607) { animation-delay: 182.4s;}
  &:nth-child(608) { animation-delay: 182.7s;}
  &:nth-child(609) { animation-delay: 183.0s;}
  &:nth-child(610) { animation-delay: 183.3s;}
  &:nth-child(611) { animation-delay: 183.6s;}
  &:nth-child(612) { animation-delay: 183.9s;}
  &:nth-child(613) { animation-delay: 184.2s;}
  &:nth-child(614) { animation-delay: 184.5s;}
  &:nth-child(615) { animation-delay: 184.8s;}
  &:nth-child(616) { animation-delay: 185.1s;}
  &:nth-child(617) { animation-delay: 185.4s;}
  &:nth-child(618) { animation-delay: 185.7s;}
  &:nth-child(619) { animation-delay: 186.0s;}
  &:nth-child(620) { animation-delay: 186.3s;}
  &:nth-child(621) { animation-delay: 186.6s;}
  &:nth-child(622) { animation-delay: 186.9s;}
  &:nth-child(623) { animation-delay: 187.2s;}
  &:nth-child(624) { animation-delay: 187.5s;}
  &:nth-child(625) { animation-delay: 187.8s;}
  &:nth-child(626) { animation-delay: 188.1s;}
  &:nth-child(627) { animation-delay: 188.4s;}
  &:nth-child(628) { animation-delay: 188.7s;}
  &:nth-child(629) { animation-delay: 189.0s;}
  &:nth-child(630) { animation-delay: 189.3s;}
  &:nth-child(631) { animation-delay: 189.6s;}
  &:nth-child(632) { animation-delay: 189.9s;}
  &:nth-child(633) { animation-delay: 190.2s;}
  &:nth-child(634) { animation-delay: 190.5s;}
  &:nth-child(635) { animation-delay: 190.8s;}
  &:nth-child(636) { animation-delay: 191.1s;}
  &:nth-child(637) { animation-delay: 191.4s;}
  &:nth-child(638) { animation-delay: 191.7s;}
  &:nth-child(639) { animation-delay: 192.0s;}
  &:nth-child(640) { animation-delay: 192.3s;}
  &:nth-child(641) { animation-delay: 192.6s;}
  &:nth-child(642) { animation-delay: 192.9s;}
  &:nth-child(643) { animation-delay: 193.2s;}
  &:nth-child(644) { animation-delay: 193.5s;}
  &:nth-child(645) { animation-delay: 193.8s;}
  &:nth-child(646) { animation-delay: 194.1s;}
  &:nth-child(647) { animation-delay: 194.4s;}
  &:nth-child(648) { animation-delay: 194.7s;}
  &:nth-child(649) { animation-delay: 195.0s;}
  &:nth-child(650) { animation-delay: 195.3s;}
  &:nth-child(651) { animation-delay: 195.6s;}
  &:nth-child(652) { animation-delay: 195.9s;}
  &:nth-child(653) { animation-delay: 196.2s;}
  &:nth-child(654) { animation-delay: 196.5s;}
  &:nth-child(655) { animation-delay: 196.8s;}
  &:nth-child(656) { animation-delay: 197.1s;}
  &:nth-child(657) { animation-delay: 197.4s;}
  &:nth-child(658) { animation-delay: 197.7s;}
  &:nth-child(659) { animation-delay: 198.0s;}
  &:nth-child(660) { animation-delay: 198.3s;}
  &:nth-child(661) { animation-delay: 198.6s;}
  &:nth-child(662) { animation-delay: 198.9s;}
  &:nth-child(663) { animation-delay: 199.2s;}
  &:nth-child(664) { animation-delay: 199.5s;}
  &:nth-child(665) { animation-delay: 199.8s;}

}